# Terraform files
**/.terraform/*
*.tfstate*
.terraform.lock.hcl

# OS X files
.history
.DS_Store

# VSCode
**/.vscode

# Snyk
.dccache

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
